/* https://developer.mozilla.org/en-US/docs/Web/CSS/user-select */
* {
    -webkit-user-select: none; /* Safari/Chrome */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    user-select: none;         /* standard */
}



html, body {
    overflow: hidden; /* hide scrollbars https://stackoverflow.com/questions/4770025/how-to-disable-scrolling-temporarily  (base question) */
    height: 100%;
}

body {
    background-color: rgb(53, 125, 53);
}



#cardsContainer, #use_cardsContainer, #cards_used_anim_container, #upgrade_container{
    position: absolute;
    bottom: 15%;
    left: 20%;
    right: 20%;

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;

    justify-content: center;
    align-items: center;

    min-height: 144px;
    min-width: 108px;
    height: fit-content;
}

/* sprite sheet tutorial gevonden op en copilot vragen gesteld over wat ik kon gebruiken bij de js: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_images/Implementing_image_sprites_in_CSS */

.card {
    width: 88px;  /* card width */
    height: 124px; /* card height */
    z-index: 2;
    background-image: url('../images/cards/Poker_cards.png'); /*path to the image*/
    background-repeat: no-repeat;
    background-position: 0 0; /*top left card (default position)*/
    transition: transform 0.2s opacity 0.2s, box-shadow 0.2s;
    cursor: pointer;
}



.total_value_container {
    position: absolute;
    bottom: 5%;
    left: 20%;
    right: 20%;

    display: flex;
    justify-content: center;
    align-items: center;


    height: fit-content;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 5px;
}



.total_value_text {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: white;
}






.deck_cards{
    bottom: 5%;
    right: 3%;

    width: 88px;  /* card width */
    height: 124px; /* card height */

    transform: scale(1.2);
    background-image: url('../images/cards/poker_card_back.png'); /*path to the image*/
    background-repeat: no-repeat;
    background-position: 0 0; /*top left card (default position)*/
    position: absolute; /*makes it possible to move the carfd*/
}

#deck_cards{
    z-index: 3;

    transition: top 0.5s, left 0.5s;
    cursor: grab;
}

#deck_cards:active{
    cursor: grabbing;
}

#deck_cards:hover {
    transform: scale(1.25);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


.drag_input{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    border: rgba(183, 174, 174, 0.665) 4px dashed;

    border-radius: 10px;

    opacity: 0;

    transition: opacity 0.2s ease;
}



.played_card_container{
    top: 10%;
}

.cards_used_anim_container, .upgrade_container{
    top: 40vh;
}

.upgrade_container{
    z-index: 11;
}



.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    opacity: 1;
    transition: all 1s ease;
}

.card-info-box {
    position: fixed;
    background-color: rgb(156, 156, 156);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 15px;
    z-index: 4;
    max-width: 250px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    font-size: 14px;

    font-family: 'Arial', sans-serif;
    font-size: 15px;
    color: white;
}

.card-info-box p, .card-special-box p {
    display: inline-block;
    padding: 2px 6px;
    border-radius: 6px;
    line-height: 1.1;
    margin: 5px 5px 0 0;
    background: rgba(27, 27, 27, 0.213); /* subtle */
}

.card-info-box strong, .card-special-box strong {
    display: inline-block;
    border: 2px solid rgb(255, 255, 255);
    padding: 2px 6px;
    border-radius: 6px;
    line-height: 1.1;
    margin: 5px 5px 0 0;
    background: rgba(225, 225, 225, 0.286); /* subtle */

    width: 93%;
}

.card-special-box {
    position: fixed;
    background-color: rgb(156, 156, 156);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 20px;
    z-index: 4;
    width: 250px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    font-size: 14px;

    font-family: 'Arial', sans-serif;
    font-size: 15px;
    color: white;

    transform: translateY(-50%);
}



.game_info_container{
    position: absolute;

    top: -5%;
    bottom: -5%;

    left: 1%;

    background: #363636;
    opacity: 0.8;

    display: flex;
    flex-direction: column;
    gap: 15%;

    padding: 10px;

    border-radius: 10px;

    border: rgba(255, 255, 255, 0.665) 4px solid;

    justify-content: center;
    align-items: center;
}



.game_info_text_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Arial', sans-serif;
    font-size: 48px;
    color: white;

    padding: 10px;

    border-radius: 10px;

    text-align: left;

    width: 330px;
}

.game_info_text{
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    color: white;

    border-radius: 10px;

    text-align: center;

    width: 300px;
}



.game_info_p{
    margin: 10px;
    padding: 10px;
    line-height: 1;
}




#total_score_container{
    background: #0098d0;
    border: #004c68 4px solid;
}

#total_score_text{
    background: #002735;
    border: #000000 4px solid;
}


#score_to_beat_container{
    flex-direction: row;
    gap: 8px;
    justify-content: flex-start;

    background: #7d159db7;
    border: #340068 4px solid;
}

#score_to_beat_text{
    background: #340068;
    border: #000000 4px solid;
    font-size: 25px;

    width: auto;
}

#rounds_text{
    background: #180068;
    border: #000000 4px solid;
    font-size: 25px;

    width: auto;
}

#total_hands_container{
    background: #be0a0ab7;
    border: #620000 4px solid;
}

#total_hands_text{
    background: #620000;
    border: #000000 4px solid;
    font-size: 50px;

    width: 100%;
}




/* https://stackoverflow.com/questions/73537320/how-do-i-make-the-html-window-appear-to-shake */
.screen_shake_div {
    width: 100%;
    height: 100%;
}

@keyframes shake {
    0% { transform: rotate(-0.5deg); }
    50% { transform: rotate(0.5deg); }
    100% { transform: rotate(-0.5deg); }
}






.screen_text_container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    pointer-events: none; /* makes sure it doesn't block other interactions */
}

.screen_text {
    font-family: 'Arial', sans-serif;
    font-size: 100px;
    color: red;
    text-shadow: 2px 2px 4px #000000;
    opacity: 0;
    /* animation: screen_text_animation 2.5s; */
}

@keyframes screen_text_animation {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(3);
    }
    
}


.card_score_box {
    position: absolute;

    width: 150px;
    height: 150px;

    pointer-events: none; /* makes sure it doesn't block other interactions */

    z-index: 7;
}


.card_score_text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Arial', sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 1), 0 0 10px rgba(0, 0, 0, 0.8);
    pointer-events: none;

    opacity: 1 !important; /* https://www.w3schools.com/css/css_important.asp */

    animation: counter_rotate_right ease;

    z-index: 5;
}



@keyframes score_pop_movement_right {
    0% {
        transform: scale(1) rotate(-45deg);
        opacity: 1;
    }
    100% {
        transform: scale(1.5) rotate(45deg);
        opacity: 0;
    }
}

@keyframes score_pop_movement_left {
    0% {
        transform: scale(1) rotate(45deg);
        opacity: 1;
    }
    100% {
        transform: scale(1.5) rotate(-45deg);
        opacity: 0;
    }
}


@keyframes counter_rotate_right {
    0% {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(45deg);
    }
}


.upgrade_card{
    width: 88px;  /* card width */
    height: 124px; /* card height */
    z-index: 2;
    background-image: url('../images/upgrades/upgrade_cards.png'); /*path to the image*/
    background-repeat: no-repeat;
    background-position: 0 0; /*top left card (default position)*/
    transition: transform 0.2s opacity 0.2s, box-shadow 0.2s;
    cursor: pointer;
}