/* https://developer.mozilla.org/en-US/docs/Web/CSS/user-select */
* {
    -webkit-user-select: none; /* Safari/Chrome */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    user-select: none;         /* standard */
}



html, body {
    overflow: hidden; /* hide scrollbars https://stackoverflow.com/questions/4770025/how-to-disable-scrolling-temporarily  (base question) */
    height: 100%;
}


body {
    /* https://cssgradient.io/ */
    background: #020024;
    background: linear-gradient(155deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}



.deco_card{
    height: 70vh; 

    /* https://www.w3schools.com/Cssref/css_pr_aspect-ratio.php */
    aspect-ratio: 88 / 124;

    background-image: url('../images/cards/all_cards.png'); /*path to the image*/
    background-repeat: no-repeat;

    background-position: 0 0; /*top left card (default position)*/

    background-size: 1300% 700%;

    transition: transform 0.2s opacity 0.2s, box-shadow 0.2s;

    /* https://developer.mozilla.org/en-US/docs/Games/Techniques/Crisp_pixel_art_look */
    image-rendering: pixelated;

    rotate: 20deg;


    position: absolute;
    bottom: 15%;
    right: 10%;
}


.start_page_text_button_container{
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 7%;

    display: flex;
    flex-direction: column;
    gap: 15%;

    justify-content: center;
    align-items: center;
}

.setting_page_text_button_container{
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 7%;

    display: flex;
    flex-direction: column;
    gap: 7%;

    justify-content: center;
    align-items: center;
}

.start_page_text_container{
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 7%;

    right: 10%;

    display: flex;
    flex-direction: column;
    gap: 1%;

    justify-content: center;
    align-items: center;
}

#peak_music_button{
    font-size: 40px;
}



.start_page_text_button, .start_page_setting_button {
    font-family: 'Arial', sans-serif;
    font-size: 48px;
    color: white;

    /* https://cssgradient.io/ */
    background: #552a9b;
    background: radial-gradient(circle,rgba(85, 42, 155, 0.93) 18%, rgba(170, 86, 170, 0.66) 63%, rgba(237, 83, 129, 0) 100%);

    /* border-radius: 10px; */
    padding: 10px;

    text-align: center;

    width: 300px;

    transition: all 0.4s ease;
}

.start_page_text_button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);

    background: #552a9b;
    background: radial-gradient(circle,rgba(85, 42, 155) 18%, rgb(236, 146, 206) 100%);
}

#music_volume_button, #animation_speed_button {
    cursor: pointer;
}
#music_volume_button{
    font-size: 45px;
}


.start_page_text{
    font-family: 'Arial', sans-serif;
    font-size: 48px;
    color: white;

    /* https://cssgradient.io/ */
    background: #552a9b;
    background: radial-gradient(circle,rgba(85, 42, 155, 0.93) 18%, rgba(170, 86, 170, 0.66) 63%, rgba(237, 83, 129, 0) 100%);

    /* border-radius: 10px; */
    padding: 10px;

    text-align: center;

    width: 90%;
}


.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 99999;
    opacity: 1;

    transition: all 1s ease;
}


#background_color_setting{
    width: 50px;
    height: 50px;

    border: none;
    cursor: pointer;
    transition: all 0.35s ease;
}


#background_color_setting:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}



.size-img-vertical{
    width: auto;
    height: 1070px;
}

.size-img-horizontal{
    rotate: 90deg;
    position: absolute;
    top:-10%;
    left: 45.5%;
    /* transform: translate(-50%, -50%); */
    width: auto;
    height: 2100px;
}

#seed_setting{
    width: 100%;
    font-size: 30px;
    text-align: center;
}